:has(> hover-tooltip) {
  position: relative;
  hover-tooltip {
    display: flex;
    position: absolute;
    /* left: calc(100% + 8px); */
    left: 0;
    top: 100%;
    transform-origin: bottom center;
    width: max-content;
    max-width: 50vw;
    
    font-size: 13px;
    font-variation-settings: 'wght' 400;
    white-space: pre-wrap;
    text-align: left;
    
    padding: 10px;
    background: rgba(8, 8, 8, .8) !important;
    box-shadow: 2px 2px 6px -4px #000 !important;
    backdrop-filter: blur(3px);
    outline: solid;
    outline-width: thin;
    outline-color: #333333;
    outline-offset: -1px;
    border-radius: 16px;
    border: 2px solid var(--md-primary-fg-color);

    z-index: 1000;
    pointer-events: none;

    opacity: 0;
    transition: transform 150ms ease, opacity 150ms ease;

    > * {
      margin: 0;
    }

    @media (max-width: 768px) {
      left: 0;
      top: 100%;
      margin-top: 4px;
      max-width: calc(100vw - (16px * 2));
    }
  }
  &:hover hover-tooltip {
    opacity: 1;
  }
}


      
    