bf-collection {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border: 2px solid var(--md-primary-fg-color);
  border-radius: 16px;
  overflow: hidden;
  gap: 1px;
  background-color: #666;
  -webkit-user-select: none;
  user-select: none;

  collection-item {
    position: relative;
    display: block;
    aspect-ratio: 1 / 1;
    margin: 0;
    overflow: hidden;
    background-color: #050505;
    transition: background-color 200ms ease, filter 200ms ease;

    &:hover {
      background-color: #151515;
      filter: brightness(1.2);
    }
    &:not(:defined) {
      filter: brightness(0);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:not(:defined) {
    background-color: #050505;
  }
}