/* Accent Color */
:root {
    --md-primary-fg-color:        #fcad03;
    --md-default-fg-color--light: #fff1bbbb;
    --md-primary-fg-color--dark:  #90030C;
}

/* Page Background Color */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: hsla(577,10%,10%,1)
}

/* Hover Color */
[data-md-color-accent="orange"] {
    --md-accent-fg-color:  #808080;
}

/* Header Background Color */
.md-header {
    background-color: #353535;
}

/* Header Text Color */
.md-nav__title {
    color: #fff;
}

/* Button */
.md-typeset .md-button {
    padding:.4em 1em;
}
.md-typeset .md-button:focus,
.md-typeset .md-button:hover {
  background-color: transparent;
  border-color:var(--md-primary-fg-color);
  color: #fff;
}

/* Developers */
.md-typeset .devs {
    color: #fff;
    cursor:pointer;
    display:inline-block;
    font-weight: 500;
    padding:.5em .5em;
    transition:color 125ms,background-color 125ms,border-color 125ms;
    align-content: center;
}
.md-typeset .devs:hover {
    color: var(--md-accent-fg-color) !important;
}
.md-typeset .devs:focus {
    color: #fff
}

.devs > img {
    width: 48px;
    border-radius: 50%;
    vertical-align: middle;
    transition:opacity 125ms;
    margin-right: 0.5em;
}
.devs:hover > img {
    opacity: 0.5;
}


/*
.md-header__button.md-logo img {
    width: 48px;
    height: 24px;
}

.md-header__button.md-logo {
    margin-left: .2rem;
    padding-left: .4rem;
}*/