:root {
    --md-primary-fg-color:        #fc9d03;
    --md-default-fg-color--light: #fff1bbbb;
    --md-primary-fg-color--dark:  #90030C;
    --md-typeset-color: #000;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: hsla(577,10%,10%,1)
}
[data-md-color-accent="orange"] {
    --md-accent-fg-color:  #808080;
}
.md-nav__title {
    color: #fff;
}